.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.display-flex {
  display: flex;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}
.gray {
  color: rgba(0, 0, 0, 0.5);
}
.dark {
  color: black;
}
.orange {
  color: #e95a08;
}
.section-title {
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-size: 3.13rem;
}
.section-description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}

/* navbar styles */

.navbar {
  max-width: 1140px;
  justify-content: space-between;
  align-items: center;
  margin: 30px 150px 120px;
}
.nav-link {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #8987a1;
}
.nav-item {
  list-style: none;
}
.nav-links {
  gap: 48px;
}
#home {
  color: #252432;
}
#cart {
  color: black;
}

/* banner style */
.banner {
  max-width: 1140px;
  margin: 120px 150px;
  justify-content: space-between;
  align-items: center;
}
.banner-left {
  flex: 1;
}
.banner-right {
  flex: 1;
  width: 100%;
}

.banner-title {
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-size: 4rem;
}
.banner-description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}

/* plants style */

.our-plants {
  max-width: 1140px;
  text-align: center;
  margin: 0 150px;
}

.plant-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 50px;
}
.plant-cards img {
  width: 100%;
}
.flower-name {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  color: #111111;
  padding: 10px;
}
.price {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  color: #111111;
}
.add-cart {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  width: 270px;
  height: 50px;
  background-color: #e95a08;
  border: none;
  margin-top: 20px;
}

/* plan lover style */

.flower-plant-lover {
  max-width: 1140px;
  margin: 210px 150px 133px;
}
.plants-lover-left {
}

.badge {
  width: 286px;
  height: 286px;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  right: 20%;
  transform: translate(-100%, -50%);
}
.flower-store {
}
.plants-lover {
  gap: 60px;
  position: relative;
}
.plant-lover-right {
  gap: 20px;
}
.plant-lover-right ul {
  padding-top: 20px;
}
.plant-lover-right ul li {
  padding: 20px;
}

/* latest deals styles */

.latest-deals {
  max-width: 1140px;
  margin: 0 150px 120px;
  text-align: center;
}
.latest-deals > p {
  padding-top: 16px;
}

.deals-card {
  margin-top: 120px;
}

.left1 {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url(../assets/deal-bloom.png);
  background-blend-mode: darken;

  width: 367px;
  height: 201px;
  border-radius: 14px;
  border: none;
  text-align: center;
  margin-bottom: 25px;
}
.left-btn1 {
  background-color: transparent;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid white;
}

.left-offer1 {
  color: white;
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-size: 1.25rem;
  padding-top: 65px;
}

.left2 {
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  background-image: url(../assets/deal-ana.png);

  width: 367px;
  height: 201px;
  border-radius: 14px;
  border: none;
  text-align: center;
}

.left-btn2 {
  background-color: transparent;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid white;
}

.left-offer2 {
  color: white;
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-size: 1.25rem;
  padding-top: 65px;
}

.deals-right {
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  background-image: url(../assets/deal-zabo.png);

  width: 753px;
  height: 423px;
  border-radius: 22px;
  margin-left: 28px;
}

.right-offer {
  color: white;
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-size: 2.5rem;
  padding-top: 170px;
}
.right-btn {
  background-color: transparent;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  border: none;
  border-bottom: 1px solid white;
}
/* join style */
.join {
  max-width: 100%;
}
.join-bg {
  background-image: url(../assets/news-letter-bg.png);
}

.join-title {
  color: white;
  padding-bottom: 23px;
}
.join-content {
  text-align: center;
  padding: 195px 305px;
}
.email-field {
  width: 644px;
  height: 50px;
  border: none;
}
::placeholder {
  padding-left: 20px;
}
.subscribe-btn {
  width: 186px;
  height: 50px;
  color: white;
  background-color: #e95a08;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

/* footer styles */
.footer {
  justify-content: space-around;
  max-width: 1140px;
  margin: 50px auto;
}
.footer-list {
  list-style: none;
  padding-bottom: 32px;
}
.footer-a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}
.footer-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.38rem;
}
.footer-4 {
  align-self: flex-start;
}
.footer-4 > img {
  padding-left: 24px;
}
#twtr {
  padding-bottom: 8px;
}

/* responsive for mobile */
@media screen and (max-width: 576px) {
  .nav-link {
    display: none;
  }
  .navbar {
    margin: 20px 16px;
    justify-content: space-around;
    justify-content: center;
    justify-items: center;
  }
  #cart {
    display: block;
  }
  .banner {
    flex-direction: column-reverse;
    margin: 25px 16px;
  }
  .banner-left {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .banner-description {
    padding-top: 10px;
  }
  .our-plants {
    margin: 20px 10px;
  }
  .plant-cards {
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 16px;
    justify-content: center;
    justify-items: center;
    gap: 10px;
  }
  .plant-description {
    text-align: center;
  }
  .add-cart {
    width: 100%;
  }

  .flower-plant-lover {
    margin: 30px 16px;
    justify-content: center;
    justify-items: center;
  }

  .flower-store {
    width: 100%;
  }

  .plants-lover {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }
  .badge {
    display: none;
  }
  .plant-lover-right {
    padding-left: 15px;
  }

  .latest-deals {
    margin: 20px 16px;
    text-align: center;
  }
  .deals-card {
    margin-top: 50px;
    margin-left: 6px;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }
  .left2 {
    border-radius: 0;
  }
  .deals-right {
    width: 367px;
    height: 201px;
    border-radius: 14px;
    border: none;
    justify-self: center;
    margin-left: 0;
    margin-top: 20px;
  }
  .right-offer {
    font-size: 1.25rem;
    padding-top: 65px;
  }
  .right-btn {
    font-size: 1rem;
  }

  .join-bg {
    background-size: cover;
  }
  .join-content {
    text-align: center;
    padding: 110px 36px 65px;
  }

  .join-title {
    font-size: 1.25rem;
  }

  .email-field {
    width: 218px;
  }

  .subscribe-btn {
    width: 103px;
  }

  .footer {
    margin: 50px 20px;
    flex-direction: column;
    justify-content: center;
  }
  .footer-text {
    font-size: 1rem;
    padding-top: 20px;
  }
  .footer-1 {
    margin-bottom: 20px;
  }
  .footer-4 > img {
    padding-right: 24px;
    padding-left: 0;
  }
  .footer-a {
    font-size: 1rem;
    font-weight: 500;
  }
  .responsive-title {
    font-size: 1.5rem;
  }
  .responsive-sub {
    font-size: 0.9rem;
    padding-top: 10px;
  }
}
